/*titel border*/
p.outset {
    border-style: outset;
    background-color: rgb(141, 141, 141);
     color:#000000;font-size:50px ;
         border-width: 10px;
        margin-right: 400px;
     margin-left: 400px;
    }
body 
{height:100vh;
    background:linear-gradient(rgb(106, 0, 255), #000000);
background-repeat: repeat-x;}
/*/
a{color: #000000;}
/*bewegende tekst*/
marquee{color:#000000;}

  .gitaar{
display: inline-block;
float: right;
background-color: #000000;
border-color: #3300ff;
 border-radius: 15px;
border:solid #3300ff }

 .school{
  display: inline-block;
  float: left;
  background-color: #000000;
  border-color: #3300ff;
   border-radius: 15px;
  border:solid #3300ff }

  ul {
    float:top;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(48, 0, 104);
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }