p.outset {border-style: outset;color:#000000;font-size:50px ;border-width: 10px;}
body 
{height: 2500px;
    background:linear-gradient(hsl(253, 100%, 50%), #000000);
background-repeat: repeat-x;}

a{color: #000000;}

marquee{color:#000000;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }